.expense-sort{
    background-color: white;
    display: flex;
    flex-direction: row;
}
.expense-sort-option{
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    border:1px solid #eee;
    cursor: pointer;
}

.sort-active{
    border-bottom: 3px solid black;
}